{% extends 'base.html.twig' %}
{% block title %}Panel Administracyjny{% endblock %}
{% block body %}
    <div class="add-section">
        <a href="{{ url('admin_create_notice') }}" class="btn btn-info">Dodaj nowe ogłoszenie</a>
    </div>
    <div class="list">
        <ul class="nav nav-tabs">
            <li class="active"><a class="notices-reference notice-active" data-toggle="tab" href="#active" data-href="{{ url('admin_browse_active_notice') }}">Aktywne</a></li>
            <li class="not-active"><a class="notices-reference notice-not-active" data-toggle="tab" href="#not-active" data-href="{{ url('admin_browse_not_active_notice') }}">Zakończone</a></li>
        </ul>

        <div class="tab-content actives">
            <div id="active" class="tab-pane fade in active">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Samochód</th>
                            <th scope="col">Data utworzenia</th>
                            <th scope="col">Data wygaśnięcia</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Opcje </th>
                        </tr>
                    </thead>
                    <tbody class="active-list">
                        {#Here will be placed whole content of active notices#}
                    </tbody>
                </table>

            </div>
            <div id="not-active" class="tab-pane fade">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Samochód</th>
                        <th scope="col">Data utworzenia</th>
                        <th scope="col">Data zakończenia</th>
                        <th scope="col">Zamówienie</th>
                    </tr>
                    </thead>
                    <tbody class="not-active-list">
                        {#Here will be placed whole content of not active notices#}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% block javascripts %}
    <script>
        //browse notices
        $( document ).ready(function() {
            var hash = window.location.hash;
            var url = '{{ url('admin_browse_not_active_notice') }}'

            if (hash === '#not-active') {
                loadNotActiveNotices(url)
            }else {
                url = '{{ url('admin_browse_active_notice') }}'
                loadActiveNotices(url)
            }

            $(".nav-tabs").on('click', '.notices-reference.notice-active', function () {
                window.location.hash = this.hash;
                loadActiveNotices($(this).attr('data-href'))
            })

            $(".nav-tabs").on('click', '.notices-reference.notice-not-active', function () {
                window.location.hash = this.hash;
                loadNotActiveNotices($(this).attr('data-href'))
            })


        //remove notice
        $("#active").on('click', '.remove', function (e) {
            e.preventDefault()
            var url = $(this).parent().attr('href')
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function(result) {
                    var response  = JSON.parse(result)
                    $('#active-'+response.id).remove()
                    addFlash(response.type, response.message)
                },
                error: function (result) {
                    var response  = JSON.parse(result)
                    addFlash(response.type, response.message)
                }
            });
        });

            function loadActiveNotices(uri) {
            console.log(uri)
            $.ajax({
                url: uri,
                type: 'GET',
                success: function (notice) {
                    $('.active-list').empty()
                    $.each(notice, function (index, value) {
                        var carRoute = Routing.generate('admin_details_car', { id: value.car.id });
                        row =
                            '<tr id="active-'+value.id+'">'+
                            '<th scope="row">'+(index+1)+'</th>' +
                            '<td><a href="' + carRoute + ' ">'+value.car.brand + ' ' + value.car.model + ' ' + value.car.engine + '</a></td>' +
                            '<td>' + value.createdAt+ '</td>' +
                            '<td>' + value.expiredAt+ '</td>' +
                            '<td>' + value.price +' zł</td>' +
                            '<td class="action-urls">' +
                                '<a class="action-url" href="'+Routing.generate('notice_details', { id: value.id })+'"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>'+
                                '<a class="action-url" href="'+Routing.generate('admin_edit_notice', { id: value.id })+'"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'+
                                '<a class="action-url" href="'+Routing.generate('admin_remove_notice', { id: value.id })+'"><span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span> '+
                            '</td>' +
                            '</tr>'
                        $(".active-list").append(row)
                    })
                },
                error: function (result) {
                    console.log("Error while getting results.")
                }
            })}

        function loadNotActiveNotices(uri) {
                $.ajax({
                    url: uri,
                    type: 'GET',
                    success: function (notice) {
                        console.log(notice)
                        $('.not-active-list').empty()
                        $.each(notice, function (index, value) {
                            var carRoute = Routing.generate('admin_details_car', { id: value.car.id });
                            row =
                                '<tr id="active-'+value.id+'">'+
                                '<th scope="row">'+(index+1)+'</th>' +
                                '<td><a href="' + carRoute + ' ">'+value.car.brand + ' ' + value.car.model + ' ' + value.car.engine + '</a></td>' +
                                '<td>' + value.createdAt+ '</td>' +
                                '<td>' + value.orderCreatedAt+ '</td>' +
                                '<td><a href="'+ Routing.generate('admin_order_details', { id: value.order.id}) +'">Szczegóły</a></td>' +
                                '</tr>'
                            $(".not-active-list").append(row)
                        })
                    },
                    error: function (result) {
                        console.log("Error while getting results.")
                    }
                })}
        });
    </script>


{% endblock %}

{% endblock %}