 {% extends 'base.html.twig' %}
    {% block title %}Szczegóły zamówienia{% endblock %}
    {% block body %}
        <div class="row details">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Informacje o zamówieniu</h3>
                    </div>

                    <div class="col-lg-4">
                       {% if (order.status == 'pending') %}
                           <a href="{{ url("admin_order_approve", {id : order.id}) }}" class="btn btn-success">Zatwierdź zamówienie</a>
                           <a href="{{ url("admin_order_reject", {id: order.id}) }}" class="btn btn-danger">Odrzuć zamówienie</a>

                       {% elseif (order.status == 'approved')  %}
                           <a href="#" class="btn btn-success">Zatwierdzono do realizacji</a>

                       {% elseif (order.status == 'rejected')  %}
                           <a href="#" class="btn btn-danger">Zamówienie odrzucone</a>
                       {% endif %}
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td><span class="option-description">Zamawiający:</span> </td>
                        <td><span class="option-value">{{ order.user }}</span> </td>
                    </tr>

                    <tr>
                        <td><span class="option-description">Samochód:</span> </td>
                        <td><span class="option-value"><a href="{{ url('admin_details_car', {id : order.notice.car.id}) }}">{{ order.notice.car }}</a> </span> </td>
                    </tr>

                    <tr>
                        <td><span class="option-description">Ilośc dni wynajmu:</span> </td>
                        <td><span class="option-value">{{ order.daysQuantity }} dzień/dni</span> </td>
                    </tr>

                    <tr>
                        <td><span class="option-description">Łączny koszt:</span> </td>
                        <td><span class="option-value">{{ order.totalCost }} zł</span> </td>
                    </tr>

                    <tr>
                        <td><span class="option-description">Data utworzenia zamówienia:</span> </td>
                        <td><span class="option-value">{{ order.createdAt | date('Y-m-d') }}</span></td>
                    </tr>

                    <tr>
                        <td><span class="option-description">Data planowanego wypożyczenia:</span> </td>
                        <td><span class="option-value">{{ order.rentFrom | date('Y-m-d') }}</span></td>
                    </tr>

                    <tr>
                        <td><span class="option-description">Data planowanego zwrotu:</span> </td>
                        <td><span class="option-value"></span>{{ order.rentTo | date('Y-m-d') }} </td>
                    </tr>

                    <tr>
                        <td><span class="option-description">Status zamówienia:</span> </td>
                        <td><span class="option-value">
                                {% if order.status == 'pending' %}
                                    <b>Oczekuje na akceptację</b>
                                {% elseif order.status == 'approved' %}
                                <b></b>Zaakceptowano/pojazd oczekuje</b>
                                {% elseif order.status == 'in_progress' %}
                                    <b></b>U klienta</b>
                                {% elseif order.status == 'finished_successfully' %}
                                    <b></b>Zakończone pomyślnie</b>
                                {% else %}
                                    <b>Odrzucono</b>
                                {% endif %}
                            </span> </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}