{% extends 'base.html.twig' %}
{% block title %}Szczegóły ogłoszenia{% endblock %}
{% block body %}
    <div class="row details">
        <div class="col-lg-4">
            {% if car.photos.count != 0 %}
                <a href="#{{ car.photos.first.id }}">
                    <img src="{{ asset(car.photos.first.path) }}" class="thumbnail">
                </a>

                <a href="#_" class="lightbox" id="{{ car.photos.first.id }}">
                    <img src="{{ asset(car.photos.first.path) }}">
                </a>
            {% else %}
                <a href="#1">
                    <img src="{{ asset('images/image-not-found.png') }}" class="thumbnail">
                </a>
                <a href="#_" class="lightbox" id="1">
                    <img src="{{ asset('images/image-not-found.png') }}">
                </a>
            {% endif %}
        </div>

        <div class="col-lg-8 options">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Informacje podstawowe</h3>
                </div>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td><span class="option-description">Marka:</span> </td>
                    <td><span class="option-value">{{ car.brand }}</span> </td>
                </tr>

                <tr>
                    <td><span class="option-description">Model:</span> </td>
                    <td><span class="option-value">{{ car.model }}</span> </td>
                </tr>



                <tr>
                    <td><span class="option-description">Silnik:</span> </td>
                    <td><span class="option-value">{{ car.engine }} {{ car.fuel }}</span> </td>
                </tr>

                <tr>
                    <td><span class="option-description">Przebieg:</span> </td>
                    <td><span class="option-value">{{ car.mileage }} km</span> </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="additional-information">
            <a data-toggle="collapse" href="#additionalInformation" role="button" aria-expanded="false" aria-controls="additionalInformation"><h3>Informacje dodatkowe</h3></a>

            <div class="collapse" id="additionalInformation">
                <div class="card card-body options">
                    <table class="table">
                        <tbody>

                        <tr>
                            <td><span class="option-description">Wersja:</span> </td>
                            <td><span class="option-value">{{ car.version }}</span> </td>
                        </tr>

                        <tr>
                            <td><span class="option-description">Rok produkcji:</span> </td>
                            <td><span class="option-value">{{ car.productionYear }}</span> </td>
                        </tr>

                        <tr>
                            <td><span class="option-description">Ilość siedzeń:</span> </td>
                            <td><span class="option-value">{{ car.seats }}</span> </td>
                        </tr>

                        <tr>
                            <td><span class="option-description">Skrzynia biegów:</span> </td>
                            <td><span class="option-value">{{ car.model }}</span> </td>
                        </tr>

                        <tr>
                            <td><span class="option-description">Klimatyzacja:</span> </td>
                            <td><span class="option-value">{{ car.version }}</span> </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="gallery">
            <a data-toggle="collapse" href="#gallery" role="button" aria-expanded="false" aria-controls="gallery"><h3>Galeria</h3></a>
            <div class="collapse" id="gallery">
                {% for photo in car.photos %}
                    <div>
                        <a href="#{{ photo.id }}">
                            <img src="{{ asset(photo.path) }}" class="thumbnail">
                        </a>
                        <a href="#_" class="lightbox" id="{{ photo.id }}">
                            <img src="{{ asset(photo.path) }}">
                        </a>
                    </div>

                {% endfor %}
            </div>
            <br><br><br>
        </div>
    </div>
    </div>
{% endblock %}
